{% extends 'base.html' %}{% block content %}
<main> 
    <a href = "{% url 'todo_list' %}">List</a>
    <a href = "{% url 'todo_update' todolist.id %}">Edit</a>
    <a href = "{% url 'todo_delete' todolist.id %}">Delete</a>
    <h1> {{todolist.name}} </h1>
    <h2>Tasks</h2>
    <table>
        <thead>
            <tr>
                <th>Task</th>
                <th>Due Date</th>
            </tr>
        </thead>
        <tbody>
            {% for banana in todolist.items.all %}
            <tr>
                <td>
                    <a href = "{% url 'todo_item_update' banana.id %}">
                        {{bannana.name}}
                    </a>
                </td>
                <td>{{item.due_date|date:"M d, Y"}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock content %}
