{% extends 'base.html' %}{% block content %}
<main> 
    <h1>Lists</h1>
    <a href = "{% url 'todocreate'%}">Create a new list</a>
    <a href = "{% url 'todo_item_create'%}">Create a new item</a>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of items</th>
            </tr>
        </thead>
        <tbody>
            {% for fish in todolist_list %}
            <tr>
                <td>
                    <a href = "{% url 'todo_detail' fish.id %}">
                        {{fish.name}}
                    </a>
                </td>
                <td>{{fish.items.all|length}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock content %}
